@charset "UTF-8";
ul {
  list-style-type: none;
}

.l-wrapper {
  background-color: #fff;
}

#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

/* ヘッダー */
.l-header {
  position: relative;
  background-image: url("view/main-photo.jpg");
  background-color: rgba(255, 255, 255, 0.185);
  background-blend-mode: lighten;
  background-size: cover;
  height: 80vh;
}

/* ヘッダータイトル */
.p-ttl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: rgba(255, 255, 255, 0.76);
  font-size: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/* メイン・margin:header-main間の余白 */
.l-main {
  margin-top: 50px;
  padding-bottom: 40px;
}

/* ABOUT・WORK・BLOG 余白及び背景色  */
/* ABOUT  */
.p-about {
  padding: 80px 30px 0 30px;
}
/* WORK  */
.p-work {
  margin-top: 100px;
  padding: 100px 30px;
  background-color: #eeeeee;
}
/* BLOG  */
.p-blog {
  margin-top: 100px;
  padding: 80px 30px 0 30px;
}

/* ABOUT・WORK・BLOG　共通見出し */
.c-heading {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}
/* 疑似要素設置 */
.c-heading ::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 130px;
  height: 4px;
  transform: translateX(-50%);
  background-color: #f5c50a;
}
/* 共通見出し(c-heading)ではなくそれぞれ固有の要素の余白として指定 */
.p-aboutList,
.p-workList,
.p-blogList {
  margin-top: 60px;
}

/* ABOUT・WORK・BLOG > タイトル */
.c-heading__ttl {
  color: #585858;
  font-size: 42px;
}

/* ABOUT・WORK・BLOG　> ロレサムテキスト */
.c-heading__txt {
  margin-top: 50px;
  color: #7c7c7c;
  font-size: 24px;
}

/* ABOUT > 写真4枚 */
.p-aboutList li {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.p-aboutList__firstBig {
  background-image: url("view/firstBig.jpg");
}
.p-aboutList__secondSmall {
  background-image: url("view/secondSmall.jpg");
}
.p-aboutList__thirdSmall {
  background-image: url("view/thirdSmall.jpg");
}
.p-aboutList__fourthBig {
  background-image: url("view/fourthBig.jpg");
}

/* WORK */
.p-workList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

/* li(icon + ttl + txt) */
.p-workList li {
  width: 360px;
  height: 300px;
  text-align: center;
}
.p-workList__icon {
  width: 70px;
  height: 70px;
}
.p-workList__ttl {
  margin-top: 30px;
  color: #585858;
  font-size: 26px;
}
/* width・margin:テキストレイアウトと中央寄せの為 */
.p-workList__txt {
  margin-top: 30px;
  color: #7c7c7c;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
}

/* Blog */
/* 2つ目以降の兄弟要素のみ余白指定 */
.p-blogList li:nth-child(n + 1) {
  margin-bottom: 80px;
}
.p-blogBox__ttl {
  margin-bottom: 30px;
  font-size: 26px;
  color: #585858;
}
.p-blogBox__txt {
  margin-bottom: 60px;
  font-size: 18px;
  color: #7c7c7c;
  line-height: 30px;
}
.p-blogBox__btn {
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  width: 130px;
  height: 70px;
  line-height: 70px;
  font-size: 22px;
  text-align: center;
  background-color: #f5c50a;
}

@media screen and (max-width: 768px) {
  /* SP style */
  /* header >　以下ハンバーガーメニュー */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }

  .logo {
    font-size: 24px;
  }

  /*------------------------------
  
    ここから下がハンバーガーメニュー
    に関するCSS
  
  ------------------------------*/

  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100; /* 重なり順を一番上に */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }

  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: 0.5s;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0; /* メニューを画面に入れる */
  }

  /* 以上ハンバーガーメニュー */

  .p-header__logo {
    display: none;
  }
  .p-header__nav {
    display: none;
  }
  .p-ttl {
    font-size: 36px;
  }

  /* 共通見出し　テキスト */
  .c-heading__txt {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
  }

  /* ABOUT */
  .p-aboutList li {
    height: 190px;
  }
  .p-aboutList li:nth-child(n + 2) {
    margin-top: 30px;
  }

  /* WORK */
  .p-workList li {
    margin-left: 0px;
  }
  .p-workList__txt {
    width: 330px;
    font-size: 14px;
  }

  /* Blog */
  .p-blogList__photo {
    margin-bottom: 20px;
    width: 100%;
  }
  .p-blogList li:nth-child(n + 1) {
    margin-bottom: 40px;
  }
  .p-blogBox__ttl {
    font-size: 22px;
  }
  .p-blogBox__txt {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 40px;
  }
  .p-blogBox__btn {
    display: block;
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) {
  /* PC style */

  .drawer {
    display: none;
  }

  /* header */
  .p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 90px;
  }
  .p-header__logo {
    width: 60px;
    border: 1px solid;
  }
  .p-navList {
    display: flex;
  }
  .p-navList li:not(:first-child) {
    margin-left: 40px;
  }
  .p-navList__link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  /*　ABOUT */
  .p-aboutList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .p-aboutList li {
    height: 370px;
  }
  .p-aboutList li:nth-child(n + 3) {
    margin-top: 30px;
  }
  .p-aboutList__firstBig,
  .p-aboutList__fourthBig {
    width: 60%;
  }
  .p-aboutList__secondSmall,
  .p-aboutList__thirdSmall {
    width: 33%;
  }

  /*　WORK */
  .p-workList li {
    margin-left: 15px;
  }
  .p-workList li:nth-child(1) {
    margin-left: 0px;
  }
  .p-workList li:nth-child(4) {
    margin-left: 0px;
  }

  /* Blog */
  .p-blogList li {
    display: flex;
    justify-content: center;
    height: 300px;
  }
  .p-blogList li:nth-child(2) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .p-blogList__photo {
    width: 40%;
  }

  /* box(ttl + txt + btn)*/
  .p-blogBox {
    margin: 0 20px;
    width: 51%;
  }
}
